
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 126.333rem;
}.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-1obr-yLG {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 3.821rem;
    width: 100%;
    height: 146.46rem;

    .divsection-9Gg {
      height: 35rem;
      position: absolute;
      left: 0;
      top: 4.6rem;
      background-image: url('REPLACE_IMAGE:31c0a357cc702f80fd2104e6d4d827f2019488dd');
      padding: 1.4rem 0rem 13.027rem 0rem;
      width: 126.333rem;
      box-sizing: border-box;
      background-size: 100% 100%;

      .nav-NQL {
        margin-bottom: 7.5165rem;
        box-sizing: border-box;
        padding: 0rem 6.166rem 0rem 6.167rem;
        width: 100%;
        height: 6rem;
        background-color: #13322b;

        .divcontainer-Sf6 {
          width: 100%;
          height: 100%;
          position: relative;

          .siged-BMn {
            width: 6.4rem;
            height: 2.5rem;
            left: 0;
            display: flex;
            line-height: 1.25;
            text-transform: uppercase;
            white-space: nowrap;
            position: absolute;
            top: 1.5835rem;
            font-size: 2rem;
            font-weight: 300;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .divsubenlaces-Utc {
            left: 0;
            top: 0;
            background-color: #13322b;
            box-sizing: border-box;
            padding: 1.983rem 0.607rem 1.517rem 32.416rem;
            width: 114rem;
            height: 6rem;
            position: absolute;

            .list-nuJ {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .item-link-Xrt {
                margin-right: 3.031rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .symbol-Fnt {
                  display: flex;
                  line-height: 1.0078740157;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0.066rem 1.22rem 0rem 0rem;
                  font-size: 1.5875rem;
                  font-weight: 900;
                  color: #ffffff;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                }
                .inicio-igU {
                  font-weight: 300;
                  line-height: 1.5625;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                }
              }
              .item-link-eKE {
                margin-right: 3.049rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .symbol-MjS {
                  margin: 0.066rem 0.82rem 0rem 0rem;
                  font-size: 1.6rem;
                  line-height: 1;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  font-weight: 900;
                  color: #ffffff;
                  flex-shrink: 0;
                }
                .referencias-c9a {
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.5625;
                }
              }
              .item-link-jEC {
                flex-shrink: 0;
                margin-right: 3.207rem;
                height: 100%;
                display: flex;
                align-items: center;

                .symbol-Uha {
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 900;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0.066rem 1.02rem 0rem 0rem;
                  line-height: 1;
                  color: #ffffff;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                }
                .sistema-interactivo-y8Y {
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.5625;
                  color: #ffffff;
                }
              }
              .item-link-6ix {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 3.63rem;

                .before-f1N {
                  width: 1.6rem;
                  height: 1.867rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.266rem;
                }
                .tableros-analticos-yGx {
                  font-weight: 300;
                  line-height: 1.5625;
                  color: #ffffff;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                }
              }
              .item-link-UzQ {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .before-omn {
                  margin-bottom: 0.266rem;
                  width: 1.6rem;
                  height: 1.867rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .aviso-de-privacidad-YzG {
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 300;
                  line-height: 1.5625;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
      .divtextos-4hi {
        flex-direction: column;
        margin-left: 7.667rem;
        display: flex;

        .sistema-de-informacin-y-gestin-educativa-R2U {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.257rem;
          font-size: 2.4rem;
          line-height: 1.0999999841;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          display: flex;
          font-weight: 500;
        }
        .validacin-de-documentos-acadmicos-electrnicos-VY8 {
          line-height: 1.0999999728;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2.8rem;
          font-weight: 500;
        }
      }
      .divsection-9Gg-bg {
        background-image: url('REPLACE_IMAGE:31c0a357cc702f80fd2104e6d4d827f2019488dd');
        width: 126.333rem;
        height: 35rem;
        position: relative;
      }
    }
    .before-Kn4 {
      height: 0.5rem;
      position: absolute;
      left: 6.167rem;
      top: 122.84rem;
      background-color: #b38e5d;
      width: 3.5rem;
    }
    .main-rGC {
      position: absolute;
      left: 6.167rem;
      top: 36.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 115.5rem;
      height: 109.76rem;

      .auto-group-xqau-Lx4 {
        box-sizing: border-box;
        padding-bottom: 3.6655rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .section-exk {
          width: 114rem;
          height: 17.838rem;
          background-color: #ffffff;
          flex-shrink: 0;

          .form-Qwv {
            background-color: #545454;
            border-radius: 1rem;
            box-sizing: border-box;
            height: 14.838rem;
            align-items: center;
            display: flex;
            padding: 3rem 3.45rem 3.305rem 3.766rem;
            width: 100%;
            flex-direction: column;
            border: solid 0.2rem #545454;

            .divcol-md-12-7LY {
              width: 100%;
              height: 5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 0.933rem;

              .input-EAG {
                background-color: #e1e1e1;
                border-radius: 0.2rem;
                flex-shrink: 0;
                margin-right: 2.684rem;
                padding: 1.4rem 1.666rem 1.4rem 1.667rem;
                height: 100%;
                border: solid 0.1rem #cccccc;
                box-sizing: border-box;
                width: 51.733rem;

                .divh2d-4e3e5f0d-xMA {
                  font-family: Montserrat, 'Source Sans Pro';
                  height: 100%;
                  position: relative;
                  display: flex;
                  color: #000000;
                  line-height: 1.2175;
                  white-space: nowrap;
                  width: 100%;
                  overflow: hidden;
                  font-size: 1.8rem;
                  font-weight: 300;
                }
              }
              .button-dTJ {
                font-family: Montserrat, 'Source Sans Pro';
                box-shadow: 0 0.2rem 0 #2390b0;
                font-size: 1.8rem;
                line-height: 1.4283332825;
                white-space: nowrap;
                border-radius: 0.3rem;
                align-items: center;
                justify-content: center;
                height: 100%;
                display: flex;
                font-weight: 300;
                color: #ffffff;
                background-color: #5bc0de;
                flex-shrink: 0;
                margin-right: 2.367rem;
                width: 25rem;
              }
              .button-J3e {
                background-color: #f0ad4e;
                flex-shrink: 0;
                display: flex;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                box-shadow: 0 0.2rem 0 #c77c11;
                line-height: 1.4283332825;
                justify-content: center;
                border-radius: 0.3rem;
                align-items: center;
                height: 100%;
                font-size: 1.8rem;
                font-weight: 300;
                white-space: nowrap;
                width: 25rem;
              }
            }
            .ubica-el-folio-en-tu-certificado-PUQ {
              margin-right: 0.836rem;
              display: flex;
              font-weight: 300;
              line-height: 1.4283332825;
              color: #ffffff;
              white-space: nowrap;
              font-size: 1.8rem;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .section-ordered-list-qbJ {
          padding: 2.133rem 22.794rem 2.238rem 0rem;
          height: 6.971rem;
          display: flex;
          align-items: center;
          border-radius: 0.4rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .item-link-inicio-iuz {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 300;
            color: #393c3e;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 1.044rem;
            display: flex;
            line-height: 1.4283332825;
          }
          .item-3SU {
            margin-right: 1.025rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .symbol-PFS {
              display: flex;
              font-size: 1rem;
              flex-shrink: 0;
              margin: 0.4rem 0.468rem 0rem 0rem;
              font-weight: 300;
              line-height: 1.4289999962;
              color: #545454;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .link-consultas-fye {
              color: #393c3e;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.8rem;
              font-weight: 300;
              line-height: 1.4283332825;
            }
          }
          .item-DEU {
            align-items: center;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .symbol-M5n {
              margin: 0.4rem 0.468rem 0rem 0rem;
              display: flex;
              font-size: 1rem;
              font-weight: 300;
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.4289999962;
              color: #545454;
              font-family: Inter, 'Source Sans Pro';
            }
            .link-documentos-acadmicos-electrnicos-gNx {
              font-weight: 300;
              line-height: 1.4283332825;
              color: #393c3e;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.8rem;
            }
          }
        }
      }
      .section-mfJ {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .divcol-md-12-vo6 {
          width: 114rem;
          flex-shrink: 0;
          margin: 0rem 0rem 7.716rem 1.5rem;

          .detalle-del-documento-4uJ {
            margin-bottom: 1.2735rem;
            display: flex;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.0999999841;
            color: #404041;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-x21z-znx {
            box-sizing: border-box;
            padding-top: 0.067rem;
            width: 100%;
            height: 0.567rem;

            .before-8eG {
              width: 3.5rem;
              height: 100%;
              background-color: #b38e5d;
            }
          }
        }
        .divcontainer-TgY {
          width: 91.999rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0rem 3.571rem 5.5rem;

          .auto-group-avda-NYc {
            width: 84.898rem;
            height: 17.892rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 7.101rem 2.467rem 0rem;

            .divrow-dzL {
              width: 84.898rem;
              height: 17.7835rem;
              position: absolute;
              left: 0;
              top: 0;
              display: flex;
              align-items: flex-start;

              .symbol-BFA {
                margin: 3.783rem 16.498rem 0rem 0rem;
                font-size: 14rem;
                color: #545454;
                display: flex;
                font-weight: 900;
                line-height: 1;
                font-family: Font Awesome 5 Free, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .divcontainer-fRE {
                height: 7.669rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .divcolnombre-Pc8 {
                  margin-right: 4.3985rem;
                  width: 24.1015rem;
                  height: 100%;
                  flex-shrink: 0;

                  .nombre-jR6 {
                    white-space: nowrap;
                    margin-bottom: 1.263rem;
                    display: flex;
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 1.0999999576;
                    color: #404041;
                    font-family: Montserrat, 'Source Sans Pro';
                  }
                  .ph2d-96ae8a77-5E4 {
                    flex-direction: column;
                    width: 100%;
                    display: flex;

                    .luis-enrique-pSY {
                      margin-bottom: 0.006rem;
                      display: flex;
                      font-weight: 300;
                      line-height: 1.2222222222;
                      font-family: Montserrat, 'Source Sans Pro';
                      font-size: 1.8rem;
                      color: #404041;
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .guerrero-zahuantitla-6ex {
                      margin-left: 0.1015rem;
                      font-family: Montserrat, 'Source Sans Pro';
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.8rem;
                      font-weight: 300;
                      line-height: 1.2222222222;
                      color: #404041;
                      white-space: nowrap;
                    }
                  }
                }
                .divcolestudios-CCC {
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-bottom: 0.006rem;
                  height: calc(100% - 0.006rem);
                  display: flex;

                  .carrera--97S {
                    margin-bottom: 1.263rem;
                    display: flex;
                    font-size: 1.8rem;
                    font-weight: 700;
                    font-family: Montserrat, 'Source Sans Pro';
                    white-space: nowrap;
                    line-height: 1.0999999576;
                    color: #404041;
                    flex-shrink: 0;
                  }
                  .bachillerato-con-formacin-bsica-para-el-trabajo-5Fz {
                    flex-shrink: 0;
                    max-width: 31.4rem;
                    display: flex;
                    font-size: 1.8rem;
                    font-weight: 300;
                    line-height: 1.2222222222;
                    color: #404041;
                    font-family: Montserrat, 'Source Sans Pro';
                  }
                }
              }
            }
            .divrow-B48 {
              width: 53.15rem;
              height: 7.663rem;
              position: absolute;
              left: 25.148rem;
              top: 10.229rem;
              display: flex;
              align-items: flex-start;

              .divcoldocumento-7Cg {
                margin-right: 10.75rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .tipo-de-documento-TnL {
                  display: flex;
                  font-weight: 700;
                  line-height: 1.0999999576;
                  white-space: nowrap;
                  margin: 0rem 0rem 1.263rem 0.1rem;
                  color: #404041;
                  font-family: Montserrat, 'Source Sans Pro';
                  flex-shrink: 0;
                  font-size: 1.8rem;
                }
                .terminacin-KZe {
                  line-height: 1.2222222222;
                  color: #404041;
                  font-family: Montserrat, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;
                }
              }
              .divcolfolio-qH6 {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .folio-zfn {
                  flex-shrink: 0;
                  margin-bottom: 1.263rem;
                  font-size: 1.8rem;
                  line-height: 1.0999999576;
                  font-family: Montserrat, 'Source Sans Pro';
                  display: flex;
                  font-weight: 700;
                  color: #404041;
                  white-space: nowrap;
                }
                .a8365c-73f9-4e5d-bec2-09c4c978c67-w5E {
                  line-height: 1.2222222222;
                  font-family: Montserrat, 'Source Sans Pro';
                  flex-shrink: 0;
                  text-transform: lowercase;
                  color: #404041;
                  max-width: 23.8rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;
                }
              }
            }
          }
          .divrow-Sng {
            height: 7.662rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 17.599rem 1.25rem 25.25rem;
            width: calc(100% - 42.849rem);

            .divcolautoridad-Aya {
              margin-right: 4.65rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .autoridad-emisora-8fW {
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-weight: 700;
                line-height: 1.0999999576;
                color: #404041;
                margin-bottom: 1.262rem;
                font-size: 1.8rem;
                font-family: Montserrat, 'Source Sans Pro';
              }
              .subsecretara-de-educacin-obligatoria-EiY {
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.2222222222;
                color: #404041;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 24.6rem;
                display: flex;
              }
            }
            .divcolfecha-mCg {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .fecha-registro-siged-Kzt {
                margin-bottom: 1.262rem;
                display: flex;
                white-space: nowrap;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.0999999576;
                color: #404041;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .item-09-02-2023-09-11-39-3R6 {
                flex-shrink: 0;
                display: flex;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.2222222222;
                color: #404041;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .divrow-KdW {
            margin-left: 23.75rem;
            width: calc(100% - 23.75rem);
            height: 12.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .divcolpromedio-3Jc {
              flex-shrink: 0;
              padding: 3.417rem 5.208rem 1.421rem 5.242rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              background-color: #dff0d8;
              margin-right: 9.749rem;
              box-sizing: border-box;
              height: 100%;
              border: solid 0.2rem #d6e9c6;
              border-radius: 0.4rem;

              .promedio--xwN {
                justify-content: center;
                font-size: 1.8rem;
                line-height: 1.0999999576;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 0rem 1.262rem 0.118rem;
                align-items: center;
                font-weight: 700;
                color: #3c763d;
                display: flex;
              }
              .item-75-EP6 {
                align-items: center;
                justify-content: center;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.2222222222;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                flex-shrink: 0;
                color: #3c763d;
                margin-right: 0.0015rem;
              }
              .siete-punto-cinco-LBE {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.2222222222;
                color: #3c763d;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .divcolestatus-E1i {
              box-sizing: border-box;
              border: solid 0.2rem #bce8f1;
              flex-shrink: 0;
              border-radius: 0.4rem;
              padding: 3.417rem 3.515rem 3.854rem 3.835rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              background-color: #d9edf7;

              .estatus-del-documento-98g {
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.0999999576;
                flex-shrink: 0;
                margin-bottom: 1.229rem;
                display: flex;
                justify-content: center;
                color: #31708f;
              }
              .registrado-qXJ {
                color: #31708f;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1.0999999576;
                margin-right: 0.282rem;
                font-size: 1.8rem;
                font-weight: 600;
              }
            }
          }
        }
        .section-8WQ {
          height: 23.687rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 3.587rem;
          width: 114rem;

          .divh2d-b8f3e327-qvc {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 112.4rem;
            height: 100%;

            .la-informacin-de-los-certificados-que-se-muestran-en-este-portal-son-el-resultado-de-la-integracin-de-informacin-que-envan-las-autoridades-educativas-de-los-estados-y-la-ciudad-de-mxico-en-caso-de-que-la-informacin-presentada-no-coincida-con-tus-resultados-obtenidos-en-el-ciclo-escolar-o-no-est-disponible-por-favor-ponte-en-contacto-con-la-autoridad-de-tu-centro-escolar-nqr {
              max-width: 112.4rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 300;
              line-height: 1.2222222222;
              color: #404041;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .auto-group-6yfz-8HS {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 1.25rem;
              width: 100%;
              display: flex;

              .la-informacin-presentada-es-de-carcter-informativa-y-para-verificar-la-validez-del-documento-impreso-es-una-representacin-de-la-informacin-contenida-en-el-certificado-documento-impreso-dEC {
                display: flex;
                line-height: 1.2222222222;
                color: #404041;
                font-family: Montserrat, 'Source Sans Pro';
                margin-bottom: 1.25rem;
                max-width: 112rem;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 300;
              }
              .el-documento-oficial-es-el-que-la-institucin-educativa-entrega-a-los-padres-o-tutores-de-los-educandos-en-sus-centros-escolares-3Yp {
                display: flex;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.2222222222;
                color: #404041;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 104rem;
              }
            }
          }
        }
      }
    }
    .navigation-h7a {
      height: 6rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #0c231e;
      width: 126.333rem;

      .divcontainer-e2p {
        width: 114rem;
        height: 6rem;
        position: absolute;
        left: 6.167rem;
        top: 0;

        .divnavbar-header-BYY {
          top: 1.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 9.851rem;
          height: 2.9rem;
          position: absolute;
          left: 0;
        }
        .divnavbarmaincollapse-Kek {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #0c231e;
          box-sizing: border-box;
          padding: 1.983rem 0rem 1.517rem 91.996rem;
          width: 114rem;
          height: 6rem;

          .list-eBE {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .trmites-Bwr {
              line-height: 1.5625;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 300;
              margin-right: 3.063rem;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .gobierno-Uvx {
              font-weight: 300;
              line-height: 1.5625;
              white-space: nowrap;
              margin-right: 3.041rem;
              display: flex;
              font-size: 1.6rem;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .item-link-1vt {
              height: 1.667rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.266rem;
              width: 1.6rem;
            }
          }
        }
      }
      .nav-wZe {
        box-sizing: border-box;
        align-items: center;
        height: 5.5rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        background-color: #0c231e;
        padding: 0rem 4.666rem 0rem 2.52rem;
        width: 126.333rem;

        .symbol-U3n {
          line-height: 1;
          color: #f3f0f3;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.566rem 1.347rem 0rem 0rem;
          font-size: 3.8rem;
          font-weight: 900;
          font-family: Font Awesome 5 Free, 'Source Sans Pro';
          text-align: right;
          display: flex;
        }
        .divnavbarmaincollapse-Nur {
          background-color: #0c231e;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 5.5rem;
          height: 100%;
          display: flex;
          align-items: center;

          .logoheadersvg-L5z {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.526rem 21.895rem 0rem 0rem;
            width: 13.679rem;
            height: 4.026rem;
            object-fit: contain;
          }
          .list-ra8 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 0.929rem;
            height: 4.571rem;

            .auto-group-d5il-Aqi {
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.983rem 1.541rem 0.088rem 0rem;
              height: 100%;

              .registro-para-vacunacin-4w6 {
                margin-right: 3.255rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 300;
                flex-shrink: 0;
                line-height: 1.5625;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .informacion-sobre-covid-19-NRz {
                font-size: 1.6rem;
                line-height: 1.5625;
                color: #ffffff;
                flex-shrink: 0;
                margin-right: 3.167rem;
                display: flex;
                font-weight: 300;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
              }
              .trmites-JKe {
                display: flex;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.5625;
                font-family: Montserrat, 'Source Sans Pro';
                margin-right: 3.063rem;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .gobierno-SAx {
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.5625;
                color: #ffffff;
                font-family: Montserrat, 'Source Sans Pro';
              }
            }
            .button-ygg {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.594rem 2.5rem 1.377rem 2.5rem;
              height: 100%;
              background-color: #0c231e;
              border-radius: 0.3rem;

              .lupapng-vbv {
                width: 1.6rem;
                height: 1.6rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:60c7b3b8e0732b5816ad01aac541cff833f088a6');
              }
            }
          }
        }
      }
    }
  }
  .footer-z5z {
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 3rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #13322b;

    .divrow-LQk {
      width: calc(100% - 13.383rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 7.216rem 7.012rem 6.167rem;

      .divcol-sm-3-Sya {
        margin-right: 5.625rem;
        width: 23.625rem;
        height: 6.954rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .divcol-sm-3-RqW {
        margin: 1.217rem 12.95rem 0rem 0rem;
        width: 16.3rem;
        flex-shrink: 0;

        .enlaces-Yv8 {
          line-height: 1.0999999576;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.1125rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 300;
        }
        .list-59N {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;

          .auto-group-pdec-Cjn {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.313rem;
            width: 100%;

            .link-participa-YYk {
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.313rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.4142856598;
            }
            .link-publicaciones-oficiales-sb2 {
              margin-bottom: 0.312rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.4142856598;
              flex-shrink: 0;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .link-marco-jurdico-Q5A {
              font-weight: 300;
              line-height: 1.4142856598;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
            }
          }
          .link-i5r {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .plataforma-nacional-de-4Qc {
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.4142856598;
              margin-bottom: 0.112rem;
              display: flex;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .transparencia-m48 {
              line-height: 1.4142856598;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 300;
            }
          }
          .auto-group-cvnp-TxY {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0.313rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .link-alerta-cqS {
              font-size: 1.4rem;
              font-weight: 300;
              white-space: nowrap;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.312rem;
              display: flex;
              line-height: 1.4142856598;
            }
            .link-denuncia-kgk {
              display: flex;
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.4142856598;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .divcol-sm-3-GQC {
        width: 22.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.217rem 7.05rem 0rem 0rem;

        .auto-group-r6gc-o9E {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 1.606rem;
          width: 100%;

          .qu-es-gobmx-kaG {
            display: flex;
            font-size: 1.8rem;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.9155rem;
            font-weight: 300;
            line-height: 1.0999999576;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .es-el-portal-nico-de-trmites-informacin-y-participacin-ciudadana-leer-ms-UWG {
            display: flex;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.3600000654;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 20.5rem;
          }
        }
        .list-7JL {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;

          .auto-group-hk3a-sYQ {
            box-sizing: border-box;
            padding-bottom: 0.313rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .link-portal-de-datos-abiertos-piY {
              font-size: 1.4rem;
              font-weight: 300;
              white-space: nowrap;
              margin-bottom: 0.313rem;
              display: flex;
              line-height: 1.4142856598;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .link-declaracin-de-accesibilidad-YuS {
              margin-bottom: 0.312rem;
              font-weight: 300;
              display: flex;
              font-size: 1.4rem;
              line-height: 1.4142856598;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .link-aviso-de-privacidad-integral-35W {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.4142856598;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
            }
          }
          .link-aviso-de-privacidad-simplificado-NNg {
            flex-shrink: 0;
            display: flex;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.4142856598;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-g2ct-JXE {
            box-sizing: border-box;
            padding-top: 0.312rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .link-trminos-y-condiciones-Efn {
              font-weight: 300;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.313rem;
              display: flex;
              font-size: 1.4rem;
              line-height: 1.4142856598;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .link-poltica-de-seguridad-k8L {
              line-height: 1.4142856598;
              color: #ffffff;
              white-space: nowrap;
              margin-bottom: 0.312rem;
              font-size: 1.4rem;
              font-weight: 300;
              display: flex;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .link-mapa-de-sitio-3dE {
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 300;
              line-height: 1.4142856598;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .divcol-sm-3-ymn {
        margin-top: 1.5505rem;
        width: 25.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .link-denuncia-contra-servidores-pblicos-7sz {
          flex-shrink: 0;
          display: flex;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.0999999728;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-jpsk-TBA {
          box-sizing: border-box;
          padding-top: 2.0455rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .sguenos-en-oVv {
            margin-bottom: 2.013rem;
            display: flex;
            line-height: 1.0999999576;
            white-space: nowrap;
            font-size: 1.8rem;
            font-weight: 300;
            color: #ffffff;
            font-family: Montserrat, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .list-WfE {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 19.3rem 0rem 0.7rem;
            width: calc(100% - 20rem);

            .item-link-facebook-de-presidencia-T4g {
              margin-right: 1.4rem;
              width: 1.4rem;
              height: 2rem;
              background-position: 0 0;
              background-image: url('REPLACE_IMAGE:d257a59fda9cb767b2089381932484f90d661d9e');
              position: relative;
              background-size: 1178.571% 100%;
              border-radius: 0.85rem;
              flex-shrink: 0;
            }
            .item-link-twitter-de-presidencia-6tL {
              background-position: -3.4rem 0;
              background-image: url('REPLACE_IMAGE:d257a59fda9cb767b2089381932484f90d661d9e');
              border-radius: 1.1rem;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2rem;
              position: relative;
              background-size: 687.5% 100%;
            }
          }
        }
      }
    }
    .divcontainer-fluid-9Lp {
      vertical-align: top;
      flex-shrink: 0;
      width: 126.333rem;
      height: 5.142rem;
      position: relative;
      object-fit: contain;
    }
  }
}
