
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 126.333rem;
}.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG {
  margin-bottom: 3.821rem;
  width: 100%;
  height: 146.46rem;
  position: relative;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg {
  box-sizing: border-box;
  padding: 1.4rem 0rem 13.027rem 0rem;
  width: 126.333rem;
  height: 35rem;
  position: absolute;
  left: 0;
  top: 4.6rem;
  background-size: 100% 100%;
  background-image: url('../assets/documentoscertipng-bg.png');
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL {
  margin-bottom: 7.5165rem;
  box-sizing: border-box;
  padding: 0rem 6.166rem 0rem 6.167rem;
  width: 100%;
  height: 6rem;
  background-color: #13322b;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 {
  width: 100%;
  height: 100%;
  position: relative;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .siged-BMn {
  width: 6.4rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 1.5835rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc {
  box-sizing: border-box;
  padding: 1.983rem 0.607rem 1.517rem 32.416rem;
  width: 114rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #13322b;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-Xrt {
  margin-right: 3.031rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-Xrt .symbol-Fnt {
  margin: 0.066rem 1.22rem 0rem 0rem;
  display: flex;
  font-size: 1.5875rem;
  font-weight: 900;
  line-height: 1.0078740157;
  color: #ffffff;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-Xrt .inicio-igU {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-eKE {
  margin-right: 3.049rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-eKE .symbol-MjS {
  margin: 0.066rem 0.82rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-eKE .referencias-c9a {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-jEC {
  margin-right: 3.207rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-jEC .symbol-Uha {
  margin: 0.066rem 1.02rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-jEC .sistema-interactivo-y8Y {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-6ix {
  margin-right: 3.63rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-6ix .before-f1N {
  margin-bottom: 0.266rem;
  width: 1.6rem;
  height: 1.867rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-6ix .tableros-analticos-yGx {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-UzQ {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-UzQ .before-omn {
  margin-bottom: 0.266rem;
  width: 1.6rem;
  height: 1.867rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .nav-NQL .divcontainer-Sf6 .divsubenlaces-Utc .list-nuJ .item-link-UzQ .aviso-de-privacidad-YzG {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .divtextos-4hi {
  margin-left: 7.667rem;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .divtextos-4hi .sistema-de-informacin-y-gestin-educativa-R2U {
  margin-bottom: 1.257rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .divtextos-4hi .validacin-de-documentos-acadmicos-electrnicos-VY8 {
  display: flex;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.0999999728;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .divsection-9Gg .divsection-9Gg-bg {
  width: 126.333rem;
  height: 35rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:31c0a357cc702f80fd2104e6d4d827f2019488dd');
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .before-Kn4 {
  width: 3.5rem;
  height: 0.5rem;
  position: absolute;
  left: 6.167rem;
  top: 122.84rem;
  background-color: #b38e5d;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC {
  width: 115.5rem;
  height: 109.76rem;
  position: absolute;
  left: 6.167rem;
  top: 36.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 {
  box-sizing: border-box;
  padding-bottom: 3.6655rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-exk {
  width: 114rem;
  height: 17.838rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-exk .form-Qwv {
  box-sizing: border-box;
  padding: 3rem 3.45rem 3.305rem 3.766rem;
  width: 100%;
  height: 14.838rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #545454;
  background-color: #545454;
  border-radius: 1rem;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-exk .form-Qwv .divcol-md-12-7LY {
  margin-bottom: 0.933rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-exk .form-Qwv .divcol-md-12-7LY .input-EAG {
  margin-right: 2.684rem;
  box-sizing: border-box;
  padding: 1.4rem 1.666rem 1.4rem 1.667rem;
  width: 51.733rem;
  height: 100%;
  border: solid 0.1rem #cccccc;
  background-color: #e1e1e1;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-exk .form-Qwv .divcol-md-12-7LY .input-EAG .divh2d-4e3e5f0d-xMA {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-exk .form-Qwv .divcol-md-12-7LY .button-dTJ {
  margin-right: 2.367rem;
  width: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.2rem 0 #2390b0;
  background-color: #5bc0de;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-exk .form-Qwv .divcol-md-12-7LY .button-J3e {
  width: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.2rem 0 #c77c11;
  background-color: #f0ad4e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-exk .form-Qwv .ubica-el-folio-en-tu-certificado-PUQ {
  margin-right: 0.836rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-ordered-list-qbJ {
  box-sizing: border-box;
  padding: 2.133rem 22.794rem 2.238rem 0rem;
  height: 6.971rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-ordered-list-qbJ .item-link-inicio-iuz {
  margin-right: 1.044rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #393c3e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-ordered-list-qbJ .item-3SU {
  margin-right: 1.025rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-ordered-list-qbJ .item-3SU .symbol-PFS {
  margin: 0.4rem 0.468rem 0rem 0rem;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4289999962;
  color: #545454;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-ordered-list-qbJ .item-3SU .link-consultas-fye {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #393c3e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-ordered-list-qbJ .item-DEU {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-ordered-list-qbJ .item-DEU .symbol-M5n {
  margin: 0.4rem 0.468rem 0rem 0rem;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4289999962;
  color: #545454;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .auto-group-xqau-Lx4 .section-ordered-list-qbJ .item-DEU .link-documentos-acadmicos-electrnicos-gNx {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #393c3e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcol-md-12-vo6 {
  margin: 0rem 0rem 7.716rem 1.5rem;
  width: 114rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcol-md-12-vo6 .detalle-del-documento-4uJ {
  margin-bottom: 1.2735rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.0999999841;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcol-md-12-vo6 .auto-group-x21z-znx {
  box-sizing: border-box;
  padding-top: 0.067rem;
  width: 100%;
  height: 0.567rem;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcol-md-12-vo6 .auto-group-x21z-znx .before-8eG {
  width: 3.5rem;
  height: 100%;
  background-color: #b38e5d;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY {
  margin: 0rem 0rem 3.571rem 5.5rem;
  width: 91.999rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc {
  margin: 0rem 7.101rem 2.467rem 0rem;
  width: 84.898rem;
  height: 17.892rem;
  position: relative;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL {
  width: 84.898rem;
  height: 17.7835rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL .symbol-BFA {
  margin: 3.783rem 16.498rem 0rem 0rem;
  display: flex;
  font-size: 14rem;
  font-weight: 900;
  line-height: 1;
  color: #545454;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL .divcontainer-fRE {
  height: 7.669rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL .divcontainer-fRE .divcolnombre-Pc8 {
  margin-right: 4.3985rem;
  width: 24.1015rem;
  height: 100%;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL .divcontainer-fRE .divcolnombre-Pc8 .nombre-jR6 {
  margin-bottom: 1.263rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL .divcontainer-fRE .divcolnombre-Pc8 .ph2d-96ae8a77-5E4 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL .divcontainer-fRE .divcolnombre-Pc8 .ph2d-96ae8a77-5E4 .luis-enrique-pSY {
  margin-bottom: 0.006rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL .divcontainer-fRE .divcolnombre-Pc8 .ph2d-96ae8a77-5E4 .guerrero-zahuantitla-6ex {
  margin-left: 0.1015rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL .divcontainer-fRE .divcolestudios-CCC {
  margin-bottom: 0.006rem;
  height: calc(100% - 0.006rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL .divcontainer-fRE .divcolestudios-CCC .carrera--97S {
  margin-bottom: 1.263rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-dzL .divcontainer-fRE .divcolestudios-CCC .bachillerato-con-formacin-bsica-para-el-trabajo-5Fz {
  max-width: 31.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-B48 {
  width: 53.15rem;
  height: 7.663rem;
  position: absolute;
  left: 25.148rem;
  top: 10.229rem;
  display: flex;
  align-items: flex-start;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-B48 .divcoldocumento-7Cg {
  margin-right: 10.75rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-B48 .divcoldocumento-7Cg .tipo-de-documento-TnL {
  margin: 0rem 0rem 1.263rem 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-B48 .divcoldocumento-7Cg .terminacin-KZe {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-B48 .divcolfolio-qH6 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-B48 .divcolfolio-qH6 .folio-zfn {
  margin-bottom: 1.263rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .auto-group-avda-NYc .divrow-B48 .divcolfolio-qH6 .a8365c-73f9-4e5d-bec2-09c4c978c67-w5E {
  max-width: 23.8rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  text-transform: lowercase;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-Sng {
  margin: 0rem 17.599rem 1.25rem 25.25rem;
  width: calc(100% - 42.849rem);
  height: 7.662rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-Sng .divcolautoridad-Aya {
  margin-right: 4.65rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-Sng .divcolautoridad-Aya .autoridad-emisora-8fW {
  margin-bottom: 1.262rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-Sng .divcolautoridad-Aya .subsecretara-de-educacin-obligatoria-EiY {
  max-width: 24.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-Sng .divcolfecha-mCg {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-Sng .divcolfecha-mCg .fecha-registro-siged-Kzt {
  margin-bottom: 1.262rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-Sng .divcolfecha-mCg .item-09-02-2023-09-11-39-3R6 {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-KdW {
  margin-left: 23.75rem;
  width: calc(100% - 23.75rem);
  height: 12.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-KdW .divcolpromedio-3Jc {
  margin-right: 9.749rem;
  box-sizing: border-box;
  padding: 3.417rem 5.208rem 1.421rem 5.242rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #d6e9c6;
  background-color: #dff0d8;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-KdW .divcolpromedio-3Jc .promedio--xwN {
  margin: 0rem 0rem 1.262rem 0.118rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #3c763d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-KdW .divcolpromedio-3Jc .item-75-EP6 {
  margin-right: 0.0015rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #3c763d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-KdW .divcolpromedio-3Jc .siete-punto-cinco-LBE {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #3c763d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-KdW .divcolestatus-E1i {
  box-sizing: border-box;
  padding: 3.417rem 3.515rem 3.854rem 3.835rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #bce8f1;
  background-color: #d9edf7;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-KdW .divcolestatus-E1i .estatus-del-documento-98g {
  margin-bottom: 1.229rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #31708f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .divcontainer-TgY .divrow-KdW .divcolestatus-E1i .registrado-qXJ {
  margin-right: 0.282rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.0999999576;
  color: #31708f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .section-8WQ {
  box-sizing: border-box;
  padding-top: 3.587rem;
  width: 114rem;
  height: 23.687rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .section-8WQ .divh2d-b8f3e327-qvc {
  width: 112.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .section-8WQ .divh2d-b8f3e327-qvc .la-informacin-de-los-certificados-que-se-muestran-en-este-portal-son-el-resultado-de-la-integracin-de-informacin-que-envan-las-autoridades-educativas-de-los-estados-y-la-ciudad-de-mxico-en-caso-de-que-la-informacin-presentada-no-coincida-con-tus-resultados-obtenidos-en-el-ciclo-escolar-o-no-est-disponible-por-favor-ponte-en-contacto-con-la-autoridad-de-tu-centro-escolar-nqr {
  max-width: 112.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .section-8WQ .divh2d-b8f3e327-qvc .auto-group-6yfz-8HS {
  box-sizing: border-box;
  padding-top: 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .section-8WQ .divh2d-b8f3e327-qvc .auto-group-6yfz-8HS .la-informacin-presentada-es-de-carcter-informativa-y-para-verificar-la-validez-del-documento-impreso-es-una-representacin-de-la-informacin-contenida-en-el-certificado-documento-impreso-dEC {
  margin-bottom: 1.25rem;
  max-width: 112rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .main-rGC .section-mfJ .section-8WQ .divh2d-b8f3e327-qvc .auto-group-6yfz-8HS .el-documento-oficial-es-el-que-la-institucin-educativa-entrega-a-los-padres-o-tutores-de-los-educandos-en-sus-centros-escolares-3Yp {
  max-width: 104rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a {
  width: 126.333rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0c231e;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .divcontainer-e2p {
  width: 114rem;
  height: 6rem;
  position: absolute;
  left: 6.167rem;
  top: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .divcontainer-e2p .divnavbar-header-BYY {
  width: 9.851rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .divcontainer-e2p .divnavbarmaincollapse-Kek {
  box-sizing: border-box;
  padding: 1.983rem 0rem 1.517rem 91.996rem;
  width: 114rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0c231e;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .divcontainer-e2p .divnavbarmaincollapse-Kek .list-eBE {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .divcontainer-e2p .divnavbarmaincollapse-Kek .list-eBE .trmites-Bwr {
  margin-right: 3.063rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .divcontainer-e2p .divnavbarmaincollapse-Kek .list-eBE .gobierno-Uvx {
  margin-right: 3.041rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .divcontainer-e2p .divnavbarmaincollapse-Kek .list-eBE .item-link-1vt {
  margin-bottom: 0.266rem;
  width: 1.6rem;
  height: 1.667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe {
  box-sizing: border-box;
  padding: 0rem 4.666rem 0rem 2.52rem;
  width: 126.333rem;
  height: 5.5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #0c231e;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .symbol-U3n {
  margin: 0.566rem 1.347rem 0rem 0rem;
  text-align: right;
  display: flex;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1;
  color: #f3f0f3;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .divnavbarmaincollapse-Nur {
  box-sizing: border-box;
  padding-left: 5.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #0c231e;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .divnavbarmaincollapse-Nur .logoheadersvg-L5z {
  margin: 0.526rem 21.895rem 0rem 0rem;
  width: 13.679rem;
  height: 4.026rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .divnavbarmaincollapse-Nur .list-ra8 {
  margin-bottom: 0.929rem;
  height: 4.571rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .divnavbarmaincollapse-Nur .list-ra8 .auto-group-d5il-Aqi {
  box-sizing: border-box;
  padding: 1.983rem 1.541rem 0.088rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .divnavbarmaincollapse-Nur .list-ra8 .auto-group-d5il-Aqi .registro-para-vacunacin-4w6 {
  margin-right: 3.255rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .divnavbarmaincollapse-Nur .list-ra8 .auto-group-d5il-Aqi .informacion-sobre-covid-19-NRz {
  margin-right: 3.167rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .divnavbarmaincollapse-Nur .list-ra8 .auto-group-d5il-Aqi .trmites-JKe {
  margin-right: 3.063rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .divnavbarmaincollapse-Nur .list-ra8 .auto-group-d5il-Aqi .gobierno-SAx {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .divnavbarmaincollapse-Nur .list-ra8 .button-ygg {
  box-sizing: border-box;
  padding: 1.594rem 2.5rem 1.377rem 2.5rem;
  height: 100%;
  background-color: #0c231e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .auto-group-1obr-yLG .navigation-h7a .nav-wZe .divnavbarmaincollapse-Nur .list-ra8 .button-ygg .lupapng-vbv {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/lupapng.png');
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #13322b;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk {
  margin: 0rem 7.216rem 7.012rem 6.167rem;
  width: calc(100% - 13.383rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-Sya {
  margin-right: 5.625rem;
  width: 23.625rem;
  height: 6.954rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW {
  margin: 1.217rem 12.95rem 0rem 0rem;
  width: 16.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .enlaces-Yv8 {
  margin-bottom: 2.1125rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.0999999576;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N .auto-group-pdec-Cjn {
  box-sizing: border-box;
  padding-bottom: 0.313rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N .auto-group-pdec-Cjn .link-participa-YYk {
  margin-bottom: 0.313rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N .auto-group-pdec-Cjn .link-publicaciones-oficiales-sb2 {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N .auto-group-pdec-Cjn .link-marco-jurdico-Q5A {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N .link-i5r {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N .link-i5r .plataforma-nacional-de-4Qc {
  margin-bottom: 0.112rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N .link-i5r .transparencia-m48 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N .auto-group-cvnp-TxY {
  box-sizing: border-box;
  padding-top: 0.313rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N .auto-group-cvnp-TxY .link-alerta-cqS {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-RqW .list-59N .auto-group-cvnp-TxY .link-denuncia-kgk {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC {
  margin: 1.217rem 7.05rem 0rem 0rem;
  width: 22.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .auto-group-r6gc-o9E {
  box-sizing: border-box;
  padding-bottom: 1.606rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .auto-group-r6gc-o9E .qu-es-gobmx-kaG {
  margin-bottom: 1.9155rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.0999999576;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .auto-group-r6gc-o9E .es-el-portal-nico-de-trmites-informacin-y-participacin-ciudadana-leer-ms-UWG {
  max-width: 20.5rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3600000654;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .list-7JL {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .list-7JL .auto-group-hk3a-sYQ {
  box-sizing: border-box;
  padding-bottom: 0.313rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .list-7JL .auto-group-hk3a-sYQ .link-portal-de-datos-abiertos-piY {
  margin-bottom: 0.313rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .list-7JL .auto-group-hk3a-sYQ .link-declaracin-de-accesibilidad-YuS {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .list-7JL .auto-group-hk3a-sYQ .link-aviso-de-privacidad-integral-35W {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .list-7JL .link-aviso-de-privacidad-simplificado-NNg {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .list-7JL .auto-group-g2ct-JXE {
  box-sizing: border-box;
  padding-top: 0.312rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .list-7JL .auto-group-g2ct-JXE .link-trminos-y-condiciones-Efn {
  margin-bottom: 0.313rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .list-7JL .auto-group-g2ct-JXE .link-poltica-de-seguridad-k8L {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-GQC .list-7JL .auto-group-g2ct-JXE .link-mapa-de-sitio-3dE {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-ymn {
  margin-top: 1.5505rem;
  width: 25.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-ymn .link-denuncia-contra-servidores-pblicos-7sz {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.0999999728;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-ymn .auto-group-jpsk-TBA {
  box-sizing: border-box;
  padding-top: 2.0455rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-ymn .auto-group-jpsk-TBA .sguenos-en-oVv {
  margin-bottom: 2.013rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.0999999576;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-ymn .auto-group-jpsk-TBA .list-WfE {
  margin: 0rem 19.3rem 0rem 0.7rem;
  width: calc(100% - 20rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-ymn .auto-group-jpsk-TBA .list-WfE .item-link-facebook-de-presidencia-T4g {
  margin-right: 1.4rem;
  width: 1.4rem;
  height: 2rem;
  position: relative;
  background-size: 1178.571% 100%;
  background-position: 0 0;
  background-image: url('../assets/item-link-facebook-de-presidencia.png');
  border-radius: 0.85rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divrow-LQk .divcol-sm-3-ymn .auto-group-jpsk-TBA .list-WfE .item-link-twitter-de-presidencia-6tL {
  width: 2.4rem;
  height: 2rem;
  position: relative;
  background-size: 687.5% 100%;
  background-position: -3.4rem 0;
  background-image: url('../assets/item-link-twitter-de-presidencia.png');
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-oYG .footer-z5z .divcontainer-fluid-9Lp {
  width: 126.333rem;
  height: 5.142rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
